:root {
    --text-light: rgb(220, 216, 216);
    --text-dark: rgb(42, 41, 41);
    --background: rgb(104, 175, 104);
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    min-height: 100vh;
}

header {
    background-color: var(--background);
    border-bottom: solid 10px black;
}

header h1 {
    text-decoration: underline;
    color: var(--text-light);
    font-family: var(--font);
    margin: 10px;
    font-size: 50px;
    padding: 10px;
}

header div ul {
    display: flex;
    justify-content: end;
    color: var(--text-light);
    font-family: var(--font);
    list-style: none;
    text-decoration: overline;
    font-size: 30px;
}

header div ul li {
    padding: 10px;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    color: var(--text-dark);
    font-family: var(--font);
    font-size: 20px;
    margin-left: 20px;
}

main section ul {
    display: inline;
    list-style: none;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 20%;
    min-height: 100%;
    background-color: var(--background);
}

aside h1 {
    color: var(--text-dark);
    font-family: var(--font);
    margin: 10px;
    font-size: 30px;
    padding: 10px;
    border-left: solid 10px var(--text-dark);
}

.main-container {
    display: flex;
    min-height: calc(100vh - 140px);
}

#headshot {
    max-height: 50%;
    max-width: 50%;
    float: right;
    margin: 20px;
}

#about-me{
    margin-bottom: 400px;
}

#my-work {

}

#contact-me {

}
