
body {
    min-height: 100vh;
}

header {
    height: 100px;
    background-color: rgb(64, 99, 64);
    display: flex;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
}

header ul li {
    padding: 20px;
}

div h1 {
    padding: 20px;
}

div p {
    padding: 20px;
}

div h2 {
    padding: 20px;
}

.main-container {
    min-height: calc(100vh - 100px);
}

.row {
    display: flex;
}

.column {
    flex: 1;
    background-color: gray;
}

.work {
    height: 300px;
    width: 500px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 10px;
}

#headshot {
    height: 300px;
    width: 250px;
    padding: 20px;
}

#main-work {
    height: 500px;
    width: 700px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 10px;
}

#contact {
    margin: 20px;
}
