:root {
    --text: rgb(220, 216, 216);
    --background: rgb(104, 175, 104);
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: var(--background);
    border-bottom: solid 10px black;
}

header h1 {
    text-decoration: underline;
    color: var(--text);
    font-family: var(--font);
    margin: 10px;
    font-size: 30px;
    padding: 10px;
}

header div ul {
    display: flex;
    justify-content: end;
    color: var(--text);
    font-family: var(--font);
    list-style: none;
    text-decoration: overline;
    margin: 0px 10px 0px 0px;
    font-size: 20px;
}

header div ul li {
    padding: 10px;
}